.fermer {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 80vh;
  border: 2px solid red;
}

.fermer-left {
  background: #fafafa;

  & > h2 {
    text-align: center;
    padding-top: 10px;
  }

  & > ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-auto-rows: 250px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;

    li {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
      }
      p {
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.fermer-right {
  background: #fafafa;
}
